.create-training{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    color: black;
    height: 75%;
    max-width: 90%;
    display: block;
    margin: 10px;
    margin: auto;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.create-training label{
    padding: 10px 0
}
.create-training .form-control {
    width: 100%;
}
.create-training .ext{
    
}
.errorMsg{
    color: #ff5d5d;
    padding-top: 5px;
}