.audit-inspection {
    padding: 10px;
    color: black;
    margin: 0px 20px ;
}
.audit-inspection th,td {
    border: 0.2px rgb(151, 151, 151) solid  ;
    padding: 25px ;
}
.audit-inspection th{
    background-color: rgb(121, 217, 255);
}
.audit-inspection tr:hover{
    background-color: rgb(139, 255, 255);
}
.audit-inspection  .table{
    text-wrap: nowrap;
}
.audit-inspection .table th {
    position: relative;
    cursor: pointer;
}

.audit-inspection .table th .sort-arrow {
    visibility: hidden;
    margin-left: 8px;
}

.audit-inspection .table th:hover .sort-arrow {
    visibility: visible;
}
.audit-inspection .filter-input-clear .form-control{
    width: 100px;
}
.audit-inspection .table th .filter-controls {
    margin-top: 8px;
}

.audit-inspection .table th .filter-controls button {
    margin-right: 4px;
}

.audit-inspection .table th .filter-input-clear {
    display: flex;
    align-items: center;
}

.audit-inspection .table th .filter-input-clear input {
    margin-right: 4px;
}
